@import url('variables.css');
@import url('reset.css');

body {
  font-family: var(--font-family-base);
  color: var(--color-secondary);
  background-color: var(--color-background);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--transition-base);
}

a:hover,
a:focus {
  color: var(--color-accent);
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: var(--spacing-xl) 0;
}

.hidden {
  display: none !important;
}
